<div class="container">
    <h2>Nuevo Contrato</h2>
    <form (ngSubmit)="onSubmit()" #contratoForm="ngForm">
      <div class="form-group">
        <label for="identificador">Identificador</label>
        <input type="text" id="identificador" class="form-control" required [(ngModel)]="contrato.identificador" name="identificador">
      </div>

      <div class="form-group">
        <label for="valor">Valor</label>
        <input type="text" id="valor" class="form-control" [(ngModel)]="contrato.valor" name="valor">
      </div>
      
      <div class="form-group">
        <label for="nombreContratante">Nombre del Contratante</label>
        <input type="text" id="nombreContratante" class="form-control" [(ngModel)]="contrato.nombreContratante" name="nombreContratante">
      </div>

      <div class="form-group">
        <label for="documentoContratante">Documento del Contratante</label>
        <input type="text" id="documentoContratante" class="form-control" [(ngModel)]="contrato.documentoContratante" name="documentoContratante">
      </div>

      <div class="form-group">
        <label for="nombreContratantista">Nombre del Contratantista</label>
        <input type="text" id="nombreContratantista" class="form-control" [(ngModel)]="contrato.nombreContratantista" name="nombreContratantista">
      </div>
      
      <div class="form-group">
        <label for="documentoContratantista">Documento del Contratantista</label>
        <input type="text" id="documentoContratantista" class="form-control" [(ngModel)]="contrato.documentoContratantista" name="documentoContratantista">
      </div>
      
      <div class="form-group">
        <label for="fechaInicial">Fecha Inicial</label>
        <input type="date" id="fechaInicial" class="form-control" [(ngModel)]="contrato.fechaInicial" name="fechaInicial">
      </div>
      
      <div class="form-group">
        <label for="fechaFinal">Fecha Final</label>
        <input type="date" id="fechaFinal" class="form-control" [(ngModel)]="contrato.fechaFinal" name="fechaFinal">
      </div>
      
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  </div>
